<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="myDbConnectionString1" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\myDb.mdf;Integrated Security=True;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="myDbConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Documents and Settings\MOHAMMAD\Desktop\my site\App_Data\myDb.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="myDbConnectionString2" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Documents and Settings\MOHAMMAD\Desktop\web\App_Data\myDb.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="myDbConnectionString3" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Documents and Settings\MOHAMMAD\Desktop\web\App_Data\myDb.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="myDbConnectionString4" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Documents and Settings\MOHAMMAD\Desktop\web\App_Data\myDb.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="myDbConnectionString5" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Documents and Settings\MOHAMMAD\Desktop\web\App_Data\myDb.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="myDbConnectionString6" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Documents and Settings\MOHAMMAD\Desktop\web\App_Data\myDb.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="myDbConnectionString7" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Documents and Settings\MOHAMMAD\Desktop\web\App_Data\myDb.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <appSettings/>
	
	<system.web>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" />
    </authentication>
		<compilation debug="true"/>
  </system.web>

  <!--SECURING PAGE OR DIRECTORY TO ANONYMOUS ACCESS HERE-->
  <location path="securepage">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

</configuration>
